/* General Styles */

body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/background3.jpg") no-repeat center center fixed;
    background-size: cover;
    background-color: navy;
}

header {
    margin-top: 20px;
    color: white;
    text-shadow: 1px 1px 3px black;
}

img {
    border: 1px solid rgba(255, 255, 255, 0.349);
}

.row {
    margin: 0px;
}

.container {
    background-color: rgba(255, 255, 255, 0.479);
}


/* Link coloring and hover effect */

a:link {
    text-decoration: none;
    color: white;
}

a:hover,
a:visited:hover {
    text-decoration: none;
    color: black
}

a:visited {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px black;
}

/* Search Container */

#searchContainer {
    display: inline;
    margin-top: 20px;
    font-size: 16px;
    color: white;
}

#searchArtist {
    width: 250px;
    background-color: white;
    border: 1px solid rgba(255, 255, 255, 0.349);
    height: 30px;
    font-size: 16px;
    padding: 5px;
}

#searchArtist::placeholder {
    color: gray;
}

/* Content Styling */

#artistBioContainer,
#topTracksContainer,
#mediaContainer,
#footerContainer,
#trackLyricContainer,
#trackMediaContainer {
    background-color: transparent;
    margin: 0px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

/* Artist Page Content Styling */

#artistBio {
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.705);

}

#topTracks {
    text-align: left;
    padding: 10px;
    background-color: rgba(255, 166, 0, 0.733);

}

#artistWebsite { 
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.712);
    margin: 0px;
    margin-bottom: 10px;
}

#artistLastFm {
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.705);
    margin: 0px;
    margin-bottom: 10px;
}

#artistTwitter {
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.658);
    margin: 0px;
}


/* Tracks Page Specific Styling */

#trackGenre { 
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.705);
    margin: 0px;
    margin-bottom: 10px;
}

#trackInfo { 
    padding: 10px;
    background-color: rgba(255, 166, 0, 0.733);
    margin: 0px;
    margin-bottom: 10px;
}

#trackYouTube { 
    padding: 10px;
    background-color: rgba(255, 255, 0, 0.712);
    margin: 0px;
    margin-bottom: 10px;
}

#trackLyrics {
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.705);
}

#giphyPics {
    text-align: left;
    padding: 10px;
    background-color: rgba(0, 0, 255, 0.658);
}

/* Footer Specific Styling */

#footerEl {
    padding: 10px;
    background-color: rgba(128, 0, 128, 0.726);
}